@charset 'utf-8';

@import 'mixins';

@import 'settings'; @import 'foundation'; @import 'motion-ui';

@include foundation-global-styles; @include foundation-grid; @include foundation-typography; @include foundation-button; @include foundation-forms; @include foundation-visibility-classes; @include foundation-float-classes; @include foundation-accordion; @include foundation-accordion-menu; @include foundation-badge; @include foundation-breadcrumbs; @include foundation-button-group; @include foundation-callout; @include foundation-close-button; @include foundation-drilldown-menu; @include foundation-dropdown; @include foundation-dropdown-menu; @include foundation-flex-video; @include foundation-label; @include foundation-media-object; @include foundation-menu; @include foundation-off-canvas; @include foundation-orbit; @include foundation-pagination; @include foundation-progress-bar; @include foundation-slider; @include foundation-sticky; @include foundation-reveal; @include foundation-switch; @include foundation-table; @include foundation-tabs; @include foundation-thumbnail; @include foundation-title-bar; @include foundation-tooltip; @include foundation-top-bar;
 @include motion-ui-transitions; @include motion-ui-animations;

/* Include Mosterrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@include font-face(Bebas, /fonts/BebasKai-Regular, null, null, otf);

/* HEADER */

header {
	position: fixed;
	top: 0;
	height: 120px;
	width: 100%;
	background-image: url('/global/images/header_curve_large.png');
	background-size: 2863px 120px;
	background-position: center top;
	background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	header {
		background-image: url('/global/images/header_curve_large_2x.png');
	}
}

header .logo {
	background-image: url('/global/images/logo.png');
	background-repeat: no-repeat;
	background-size: 203px 194px;
	height: 194px;
	width: 203px;
	position: absolute;
	left: calc(50% - (203px/2));
	top: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	header .logo {
		background-image: url('/global/images/logo_2x.png');
	}
}

header nav {
	display: inline-block;
	margin-top: 38px;
	vertical-align: top;
}
header nav.right {
	float: right;
}
header nav a {
	font-family: 'Montserrat', sans-serif;;
	font-weight: 400;
	font-size: 14px;
	color: #FFF;
	vertical-align: top;
	padding: 0 50px;
}
header nav a.button {
	font-family: 'Montserrat', sans-serif;;
	font-weight: 400;
	font-size: 14px;
	vertical-align: bottom;
	margin: 0 5px;
	margin-top: -13px;
	padding: 16px 40px;
}

.AAF-white {
	background-image: url('/global/images/logo_white_large.png');
	background-repeat: no-repeat;
	background-size: 203px 35px;
	width: 204px;
	height: 35px;
	margin: 15px auto 25px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
	.AAF-white {
		background-image: url('/global/images/logo_white_large_2x.png');
	}
}
main {
	width: 100%;
	max-height: 987px;
	min-height: 600px;
	background-image: url('/global/images/body_curve_large.png');
	background-repeat: no-repeat;
	background-position: center top;
}