.titles {
    margin-bottom: 40px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: #2583d9;
    margin-bottom: 10px;

    &:hover {
        color: #9bccf9;
        cursor: pointer;
    }
}

p {
    color: #8da6c7;
    margin-bottom: 2.5rem;

    a.scarlet {
        color: #d94c4c;
    }
}
