main {
  padding-top: 0px; }
  main .titles {
    margin-bottom: 30px; }

.shader {
  padding: 150px 0 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }

.image-gallery figure {
  padding: 0;
  max-height: 161.3px; }

.videoWrapper {
  position: relative; }
  .videoWrapper .ratio {
    display: block;
    width: 100%;
    height: auto; }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
