main {
  padding-top: 20px;
  min-height: auto;
  margin-top: -100px; }

section {
  height: 760px;
  background-position: center center;
  background-size: cover; }
  section h1 {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold; }
    section h1 small {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      display: block;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.5); }
  section h2 {
    font-size: 52px;
    font-family: "Exo";
    color: white;
    font-weight: bold;
    margin-top: 120px;
    line-height: 1; }
  section h3 {
    font-size: 27px;
    font-family: "Exo";
    color: #c8c1bc;
    margin-top: -10px; }
  section p {
    color: #b0b0b0;
    max-width: 570px;
    margin-top: 20px; }

section#intro {
  background-image: url("/about/images/intro_bg.jpg");
  background-position: center top;
  padding-top: 150px; }

section span.text-center p {
  margin: 0 auto; }

section#structured {
  background-image: url("/about/images/structured_organised_bg.jpg");
  padding-top: 150px; }
  section#structured h2 {
    color: #1b1917; }
  section#structured h3 {
    color: #946036; }
  section#structured p {
    color: #332517;
    text-shadow: 0px 0px 10px #ffefcf, 0px 0px 15px #ffeacf, 0px 0px 20px #ffeacf, 0px 0px 50px #ffeacf, 0px 0px 50px #ffefcft; }

section#community {
  background-image: url("/about/images/community_driven_bg.jpg");
  padding-top: 130px; }
  section#community h2 {
    color: #FFF; }
  section#community h3 {
    color: #d9e883; }
  section#community p {
    color: #FFF;
    max-width: 600px; }

section#tactical {
  background-image: url("/about/images/seriously_tactical_bg.jpg");
  padding-top: 130px; }
  section#tactical h2 {
    color: #FFF; }
  section#tactical h3 {
    color: #55d55d; }
  section#tactical p {
    color: #EEE; }

section#growing {
  background-image: url("/about/images/growing_strong_bg.jpg");
  padding-top: 130px; }
  section#growing h2, section#growing h3, section#growing p {
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.84); }
  section#growing h2 {
    color: #FFF; }
  section#growing h3 {
    color: #7eabfc; }
  section#growing p {
    color: #fff; }

section#friends {
  background-image: url("/about/images/friends_bg.jpg");
  padding-top: 100px; }
  section#friends h2, section#friends h3, section#friends p {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.84); }
  section#friends h2 {
    color: #1c1c1c; }
  section#friends h3 {
    color: #3a6099; }
  section#friends p {
    color: #1c1c1c;
    max-width: 700px;
    margin: 0 auto; }
  section#friends a.button {
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 15px 35px;
    margin-right: 10px;
    width: 100%; }
    @media screen and (min-width: 30em) {
      section#friends a.button {
        width: auto; } }
  section#friends a.secondary {
    background-color: #171d26; }
