@import "../../aaf-global/styles/_settings";

main {
	padding-top: 20px;
	min-height: auto;
	margin-top: -100px;
}

section {
	min-height: 900px;
	height: auto;
	padding-bottom: 100px;
	background-position: center center;
	background-size: cover;

	@include breakpoint(medium up) {
		min-height: auto;
		padding: 0;
		height: 850px;
	}

	h1 {
		color: #FFF;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;

		small {
			font-family: 'Montserrat', sans-serif;
			font-weight: normal;
			display: block;
			font-size: 15px;
			color: rgba(255,255,255,0.5);
		}
	}

	h2 {
	  font-size: 40px;
	  font-family: "Exo";
	  color: rgb(255, 255, 255);
	  font-weight: bold;
	  margin-top: 120px;
	  line-height: 1;

	  @include breakpoint(medium up) {
		font-size: 52px;
	  }
	}
	h3 {
	  font-size: 27px;
	  font-family: "Exo";
	  color: rgb(200, 193, 188);
	  margin-top: -10px;
	}
	p {
		color: #b0b0b0;
		max-width: 570px;
		margin-top: 20px;
	}
}

section#intro {
	background-image: url('/about/images/intro_bg.jpg');
	background-position: center top;
	padding-top: 100px;
}
section span.text-center {
	padding-top: 60px;
	display:block;

	p {
		margin: 0 auto;
	}
}

section#structured {
	background-image: url('/about/images/structured_organised_bg.jpg');

	h2 {
		color: #1b1917;
	}
	h3 {
		color: #946036
	}
	p {
		color: #332517;
		text-shadow: 0px 0px 10px #ffefcf, 0px 0px 15px #ffeacf, 0px 0px 20px #ffeacf, 0px 0px 50px #ffeacf, 0px 0px 50px #ffefcf;
	}
}

section#community {
	background-image: url('/about/images/community_driven_bg.jpg');

	h2 {
		color: #FFF;
	}
	h3 {
		color: #d9e883;
	}
	p {
		color: #FFF;
		max-width: 600px;
	}
}

section#tactical {
	background-image: url('/about/images/seriously_tactical_bg.jpg');

	h2 {
		color: #FFF;
		line-height: 0.95;
		margin-bottom: 20px;
	}
	h3 {
		color: #55d55d;
	}
	p {
		color: #EEE;
	}
}

section#growing {
	background-image: url('/about/images/growing_strong_bg.jpg');

	h2, h3, p {
		text-shadow: 0 0 16px rgba(0,0,0,0.84);
	}
	h2 {
		color: #FFF;
	}
	h3 {
		color: #7eabfc;
	}
	p {
		color: #fff;
	}
}

section#friends {
	background-image: url('/about/images/friends_bg.jpg');

	h2, h3, p {
		text-shadow: 0 0 20px rgba(255,255,255,0.84);
	}
	h2 {
		color: #1c1c1c;
	}
	h3 {
		color: #3a6099;
	}
	p {
		color: #1c1c1c;
		max-width: 700px;
		margin: 0 auto;
	}
	a.button {
		margin: 0 auto;
		margin-top: 50px;
		font-family: 'Montserrat', sans-serif;;
		font-weight: 400;
		font-size: 14px;
		padding: 15px 35px;
		margin-right: 10px;
		width: 100%;

		@media screen and (min-width: 30em) {
			width: auto;
		}
	}

	a.secondary {
		background-color: hsla(215,24%,12%,1);
	}
}
