/*
Error: File to import not found or unreadable: util/util.
       Load paths:
         /Users/alex/Development/australianarmedforces.org/scss/home/styles
         /Users/alex/Development/australianarmedforces.org/bower_components/foundation/scss
         /Users/alex/Development/australianarmedforces.org/bower_components/foundation-sites/scss
         /Users/alex/Development/australianarmedforces.org/bower_components/foundation-sites
         /Users/alex/Development/australianarmedforces.org/bower_components/motion-ui
         Sass::Globbing::Importer
        on line 42 of /Users/alex/Development/australianarmedforces.org/scss/aaf-global/styles/_settings.scss
        from line 1 of /Users/alex/Development/australianarmedforces.org/scss/home/styles/home.scss

37: 		padding: 12px 35px;
38: 		margin-right: 10px;
39: 		width: 100%;
40: 	    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
41: 	    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
42: 	    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
43: 		border-radius: 3px;
44: 
45: 		@media screen and (min-width: 40em) {
46: 			width: auto;
47: 		}

Backtrace:
/Users/alex/Development/australianarmedforces.org/scss/aaf-global/styles/_settings.scss:42
/Users/alex/Development/australianarmedforces.org/scss/home/styles/home.scss:1
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:45:in `import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/import_node.rb:37:in `css_import?'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:326:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:278:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:423:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: util/util.\A        Load paths:\A          /Users/alex/Development/australianarmedforces.org/scss/home/styles\A          /Users/alex/Development/australianarmedforces.org/bower_components/foundation/scss\A          /Users/alex/Development/australianarmedforces.org/bower_components/foundation-sites/scss\A          /Users/alex/Development/australianarmedforces.org/bower_components/foundation-sites\A          /Users/alex/Development/australianarmedforces.org/bower_components/motion-ui\A          Sass::Globbing::Importer\A         on line 42 of /Users/alex/Development/australianarmedforces.org/scss/aaf-global/styles/_settings.scss\A         from line 1 of /Users/alex/Development/australianarmedforces.org/scss/home/styles/home.scss\A \A 37: 		padding: 12px 35px;\A 38: 		margin-right: 10px;\A 39: 		width: 100%;\A 40: 	    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);\A 41: 	    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);\A 42: 	    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);\A 43: 		border-radius: 3px;\A 44: \A 45: 		@media screen and (min-width: 40em) {\A 46: 			width: auto;\A 47: 		}"; }
