@charset 'utf-8';

@import 'mixins';

@import 'settings'; @import 'foundation'; @import 'motion-ui';

@include foundation-global-styles; @include foundation-grid; @include foundation-typography; @include foundation-button; @include foundation-forms; @include foundation-visibility-classes; @include foundation-float-classes; @include foundation-accordion; @include foundation-accordion-menu; @include foundation-badge; @include foundation-breadcrumbs; @include foundation-button-group; @include foundation-callout; @include foundation-close-button; @include foundation-drilldown-menu; @include foundation-dropdown; @include foundation-dropdown-menu; @include foundation-flex-video; @include foundation-label; @include foundation-media-object; @include foundation-menu; @include foundation-off-canvas; @include foundation-orbit; @include foundation-pagination; @include foundation-progress-bar; @include foundation-slider; @include foundation-sticky; @include foundation-reveal; @include foundation-switch; @include foundation-table; @include foundation-tabs; @include foundation-thumbnail; @include foundation-title-bar; @include foundation-tooltip; @include foundation-top-bar;
 @include motion-ui-transitions; @include motion-ui-animations;

/* Include Mosterrat */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Exo:400,500,600,700,800,900,300,200,100);


/* Utilities */
figure { margin: 0; }
.row:before, .row:after {
	content: ' ';
    display: table;
}
.row:after {
    clear: both;
}

/* Icons */

.icon.youtube {
    background-image: url("/aaf-global/images/icons/youtube-social-icon_red_128px.png");
    background-size: 64px 45px;
    height: 45px;
    width: 64px;
    display: inline-block;
}

.icon.twitter {
    background-image: url("/aaf-global/images/icons/twitterlogo.png");
    background-size: 59px 48px;
    height: 48px;
    width: 59px;
    display: inline-block;
}


/* HEADER */

header {
	z-index: 999;
	position: fixed;
	top: 0;
	height: 66px;
	width: 100%;
	background-image: url('/aaf-global/images/header/header_background_small.png');
	background-size: 640px 120px;
	background-position: center bottom;
	background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
		background-image: url('/aaf-global/images/header/header_background_small_2x.png');
	}

	@media screen and (min-width: 40em) {
		background-image: url('/aaf-global/images/header/header_background_medium.png');
        background-size: 1024px 120px;
        height: 66px;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
			background-image: url('/aaf-global/images/header/header_background_medium_2x.png');
		}
	}
	@media screen and (min-width: 64em) {
		background-image: url('/aaf-global/images/header/header_background_large.png');
        background-size: 3143px 66px;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
			background-image: url('/aaf-global/images/header/header_background_large_2x.png');
		}
	}

	.logo {
		background-image: url('/aaf-global/images/header/logo_small.png');
        background-size: 162px 154px;
        width: 162px;
        height: 154px;
		background-repeat: no-repeat;
		position: absolute;
		left: calc(50% - (162px/2));
		top: 0;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
			background-image: url('/aaf-global/images/header/logo_small_2x.png');
		}

    	@media screen and (min-width: 40em) {
    		background-image: url('/aaf-global/images/header/logo_large.png');
            background-size: 172px 158px;
            width: 172px;
            height: 158px;
            left: calc(50% - (172px/2));

    		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    			background-image: url('/aaf-global/images/header/logo_large_2x.png');
    		}
    	}
	}

	nav {
		display: inline-block;
		margin-top: 25px;
		vertical-align: top;

		a {
			font-family: 'Montserrat', sans-serif;;
			font-weight: 400;
			font-size: 14px;
			color: #FFF;
			vertical-align: top;
			padding: 0 50px;
			display: none;

			@media screen and (min-width: 40em) {
				display: inline-block;
			}

			@media screen and (max-width: 64em) {
				padding: 0 (100vw / 30 - (20vw / 30) * 2);
			}
		}
		a.button {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			font-size: 14px;
			vertical-align: bottom;
			margin: 0 5px;
			margin-top: -13px;
			padding: 16px 40px;
		}
	}
	nav.right {
		float: right;
	}

	a.mobile_menu_button {
		width: 29px;
		height: 28px;
		background-image: url("/aaf-global/images/header/menu_button_small.png");
		background-size: 29px 28px;
		display: block;
		float: right;
		margin-top: 22px;
		margin-right: 30px;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
			background-image: url("/aaf-global/images/header/menu_button_small_2x.png");
		}

		@media screen and (min-width: 40em) {
			display: none;
		}
	}
}




main {
	color: #FFF;
    padding-top: 160px;
	width: 100%;
	min-height: 100vh;
	background-image: url('/aaf-global/images/content/body_background_large.png');
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 3143px 1005px;
	position: absolute;
	z-index: 998;

    @media screen and (min-width: 40em) {
        padding-top: 100px;
    }

	.AAF-white {
		background-image: url('/aaf-global/images/content/logo_white_large.png');
		background-repeat: no-repeat;
		background-size: 203px 35px;
		width: 204px;
		height: 35px;
		margin: 15px auto 25px;

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
				background-image: url('/aaf-global/images/content/logo_white_large_2x.png');
		}
	}

	h1 {
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;

		small {
			font-family: 'Montserrat', sans-serif;
			font-weight: normal;
			display: block;
			font-size: 15px;
			color: #576d80;
		}
	}
}


footer {
	padding: 60px 30px;

	.emblum {
		clear: both;
		height: 85px;
		width: 73px;
		background-image: url('/aaf-global/images/footer/footer_emblum_2x.png');
		background-size: 73px 85px;
	}
	p {
		font-size: 10px;
		text-align: center;
		color: #2583d9;
		max-width: 700px;
		padding: 0 90px;
		margin: 0 auto;


		@media screen and (min-width: 40em) {
			font-size: 13px;
		}

		span {
			display: block;
			color: #576d80;
		}
	}
	.alexsinnott {
		height: 84px;
		width: 79px;
		background-image: url('/aaf-global/images/footer/footer_alexsinnott_2x.png');
		background-size: 79px 84px;
	}
}
