@import "foundation";
@import 'util/mixins';
@import '../../aaf-global/styles/_exofont.scss';

section#github-download {
	background-image: url('/mods/images/home_bg_2x.png');
	background-size: cover;
    background-position: center top;
    height: calc(90vh + 150px);

    h1 {
        color: #FFF;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bold;

        small {
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            display: block;
            font-size: 15px;
            color: rgba(255,255,255,0.5);
        }
    }

    .heading {
        text-align: center;

    	h2 {
    		color: #FFF;
    		font-family: 'Exo 2 Light', sans-serif;
    		font-size: 28px;
    		@media screen and (min-width: 40em) {
    			font-size: 40px;
    		}
    	}
        p {
            color: #AD7577;
            margin-top: -10px;
            padding: 0 60px;

            a {
                color: #F7646A;

                &:hover {
                    color: #c45e62;
                }
            }
            small {
                display: block;
            }
        }
    }

    #hero {
        margin-top: 20vh;

        .scarlet-logo {
    		margin: 0 auto;
    		height: 103px;
    		width: 101px;
    		background-image: url('/mods/images/logo.png');
    		background-size: 101px 103px;

    		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {
    			background-image: url('/mods/images/logo_2x.png');
    		}
    	}

    	.download {
    		a {
    			background: #e04646;
    			display: block;
    			width: 200px;
    			margin: 0 auto;
    			margin-top: 30px;

    			&:hover {
    				background: #a23c3c;
    			}
    		}
    		p {
                color: #e04646;
    			text-align: center;
    			margin-top: 50px;
                padding: 0 60px;
    		}
    	}
    }


}

main {
	min-height: auto;
	margin-top: -100px;
}
