main { padding-top: 150px; }

	.titles {
		margin-bottom: 20px;
	}
	p, li, small {
		color: rgba(255,255,255, 0.7);
	}
	.button-third {
		width: 100%;
		display: inline-block;

		@media screen and (min-width: 40em) {
			width: 32%;
		}

		&:last-child:not(:first-child), &:last-child:not(:first-child) {
			float:right;
		}
	}
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

h5 { margin-top: -10px; }
