@import "foundation";
@import 'util/mixins';

main {

	.titles {
		margin-bottom: 20px;
	}
	p, li, small {
		color: #576d80;
	}
	div.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 3px;
		margin-bottom: 1em;
		height: 160px;
		width: 100%;
	}

	.scarlet {
		.image {
			background-image: url('http://i.imgur.com/SNqUxXzl.png');
		}
	}
	.discord {
		a.discord {
			@include button-style(transparent, transparent, #7289da);
			border-color: #7289da;

			&:hover {
				border-color: #5d6a9c;
				color: #5d6a9c;
			}
		}
		a.units {
			@include button-style(transparent, transparent, #CCC);
			border-color: #CCC;

			&:hover {
				border-color: #9d9d9d;
				color: #9d9d9d;
			}
		}
		.image {
			background-image: url('http://i.imgur.com/CEs9Y6u.png');
		}
	}
	.fun {
		.image {
			background-image: url('http://i.imgur.com/eCVu24Ul.jpg');
		}
	}
}

.shader {
	padding: 150px 0 50px;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 0;

	small {
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		display: block;
		font-size: 15px;
		color: #576d80;
		line-height: 0.5;
	}
}
