main {
	padding-top: 0px;

	.titles {
		margin-bottom: 20px;
	}
	p, li, small {
		color: rgba(255,255,255, 0.7);
	}
	.button-third {
		width: 100%;
		display: inline-block;

		@media screen and (min-width: 40em) {
			width: 32%;
		}

		&:last-child:not(:first-child), &:last-child:not(:first-child) {
			float:right;
		}
	}
}

.shader {
	padding: 150px 0 50px;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 0;

	small {
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		display: block;
		font-size: 15px;
		color: #576d80;
		line-height: 0.5;
	}
}
