@import '../../aaf-global/styles/settings';
@import "../../aaf-global/styles/slick";
@import "../../aaf-global/styles/slick.preferences";


main {
	min-height: 400px;
}

.hero {
	z-index: 1;
	min-height: 800px;
	height: calc(110vh - 466px);
	text-align: left;
	
	
	.small-12.columns {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	&.year {
		@include breakpoint(medium) {
			text-align: center;
		}
		a {
			margin-top: 20px;
			box-shadow: none;
			background-color: #b93e3e;

			&:hover {
				background-color: #993535;
			}
		}
	}

	&.leaders {

		@include breakpoint(medium) {
			text-align: center;
		}
	}

	&.teamspeak {

		@include breakpoint(medium) {
			text-align: center;
		}
		a {
			margin-top: 20px;
			box-shadow: none;
			background-color: #475e7d;

			&:hover {
				background-color: #3c4f69;
			}
		}
	}

	.small-12>p {
		font-size: 18px;
		font-family: "Exo";
		font-weight: 400;
		color: #dadada;
		max-width: 700px;
		margin: 0px auto;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;


		@media screen and (min-width: 40em) {
			font-size: 22px;
		}
	}
	a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		padding: 10px 35px;
		margin-right: 10px;
		width: 100%;
	    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
	    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
	    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
		border-radius: 3px;

		@media screen and (min-width: 40em) {
			width: auto;
		}
	}
	a.secondary {
		background-color: hsla(215,24%,12%,1);
	}

	h1 {
		color: #FFF;
		font-family: "Exo";
		font-weight: 600;
		font-size: 40px;
		line-height: 43px;
		margin: 0;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;

		@media screen and (min-width: 40em) {
			font-size: 48px;
			line-height: 48px;

		}

		@media screen and (min-width: 64em) {
			font-size: 51px;
		}

		span {
			color: #4aa6fb;

			@media screen and (min-width: 64em) {
				color: #4aa6fb;
			}
		}
	}

	h3 {
		color: #FFF;
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		margin: 0;
		text-transform: uppercase;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;

		@media screen and (min-width: 40em) {
			font-size: 18px;
			line-height: 15px;

		}

		@media screen and (min-width: 64em) {
			font-size: 20px;
			line-height: 30px;
		}

		span {
			color: #4aa6fb;

			@media screen and (min-width: 64em) {
				color: #4aa6fb;
			}
		}
	}
	.application-callout {
		margin-bottom: 15px;

		.callout {
			padding: 5px 20px;
			width: 100%;
			display: inline-block;
			border-radius: 4px;
			border-color: #f87648;
			color: #f87648;
			background: transparent;
			margin: 0 auto;
			font-size: 9px;
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-weight: normal;
			text-align: center;

			@include breakpoint(medium) {
				max-width: 400px;
				width: auto;
			}

			span {
				display: inline;
				text-shadow: rgba(0,0,0,1) 0px 0px 12px, rgba(0,0,0,1) 0px 0px 12px, rgba(0,0,0,1) 0px 0px 12px;
			}
		}
	}

}


.bg-container {
	position: absolute;
	z-index: -20;
	top: 0;
	min-height: 800px;
	height: calc(110vh - 466px);
	width: 100%;
	pointer-events: none;

	.bg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: url("/home/images/banner_temp.png") no-repeat;
		background-size: cover;
		background-position: center center;
		overflow: hidden;
		display: none;

		&.year {
			display: block;
		}

		&.year {
			background-image: url('/home/images/banner_year_small.jpg');

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

				& {
					background-image: url('/home/images/banner_year_small_2x.jpg');
				}

			}
			@media screen and (min-width: 40em) {
				& {
					background-image: url('/home/images/banner_year_large.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_year_large_2x.jpg');
					}
				}
			}
			@media screen and (min-width: 64em) {
				& {
					background-image: url('/home/images/banner_year_large.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_year_large_2x.jpg');
					}
				}
			}
		}
		&.leaders {
			background-image: url('/home/images/banner_home_small.jpg');

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

				& {
					background-image: url('/home/images/banner_home_small_2x.jpg');
				}

			}
			@media screen and (min-width: 40em) {
				& {
					background-image: url('/home/images/banner_home_large.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_home_large_2x.jpg');
					}
				}
			}
			@media screen and (min-width: 64em) {
				& {
					background-image: url('/home/images/banner_home_large.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_home_large_2x.jpg');
					}
				}
			}
		}
		&.teamspeak {
			background-image: url('/home/images/banner_teamspeak_small.jpg');

			@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

				& {
					background-image: url('/home/images/banner_teamspeak_small_2x.jpg');
				}

			}
			@media screen and (min-width: 40em) {
				& {
					background-image: url('/home/images/banner_teamspeak_medium.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_teamspeak_medium_2x.jpg');
					}
				}
			}
			@media screen and (min-width: 64em) {
				& {
					background-image: url('/home/images/banner_teamspeak_large.jpg');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

					& {
						background-image: url('/home/images/banner_teamspeak_large_2x.jpg');
					}
				}
			}
		}
	}
}
main {
	padding-top: 0;
}
