@import '../../aaf-global/styles/settings';

main {
	min-height: 400px;
}

.hero {
	z-index: 1;
	height: 800px;
	text-align: left;
	padding: 300px 0 25px;

	@media screen and (min-width: 40em) {
		text-align: center;
		height: 800px;
		padding: 330px 0 0;
	}

	.small-12>p {
		font-size: 18px;
		font-family: "Exo";
		font-weight: 400;
		color: #dadada;
		max-width: 700px;
		margin: 0px auto 30px;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;


		@media screen and (min-width: 40em) {
			font-size: 22px;
		}
	}
	a {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 14px;
		padding: 12px 35px;
		margin-right: 10px;
		width: 100%;
	    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
	    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
	    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.9);
		border-radius: 3px;

		@media screen and (min-width: 40em) {
			width: auto;
		}
	}
	a.secondary {
		background-color: hsla(215,24%,12%,1);
	}

	h1 {
		color: #FFF;
		font-family: "Exo";
		font-weight: 600;
		font-size: 40px;
		line-height: 43px;
		margin: 0;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;

		@media screen and (min-width: 40em) {
			font-size: 48px;
			line-height: 48px;

		}

		@media screen and (min-width: 64em) {
			font-size: 51px;
		}

		span {
			color: #4aa6fb;

			@media screen and (min-width: 64em) {
				color: #4aa6fb;
			}
		}
	}

	h3 {
		color: #FFF;
		font-family: "Montserrat";
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		margin: 0;
		text-transform: uppercase;
		text-shadow: rgba(0,0,0,0.7) 0px 0px 12px;

		@media screen and (min-width: 40em) {
			font-size: 18px;
			line-height: 15px;

		}

		@media screen and (min-width: 64em) {
			font-size: 20px;
			line-height: 30px;
		}

		span {
			color: #4aa6fb;

			@media screen and (min-width: 64em) {
				color: #4aa6fb;
			}
		}
	}
	.application-callout {
		margin-bottom: 15px;

		.callout {
			padding: 5px 20px;
			max-width: 400px;
			display: inline-block;
			border-radius: 4px;
			background-color: rgb(213, 68, 34);
			margin: 0 auto;
			font-size: 9px;
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			color: rgb(255, 255, 255);
			font-weight: bold;
			text-align: center;
		}
	}

}


.bg {
	position: absolute;
	z-index: -20;
	top: 0;
	height: 800px;
	width: 100%;
	background: url("/home/images/banner_temp.png") no-repeat;
	background-size: cover;
	background-position: center center;
	pointer-events: none;
	overflow: hidden;
	background-image: url('/home/images/banner_home_small.png');

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

		& {
			background-image: url('/home/images/banner_home_small_2x.png');
		}

	}
	@media screen and (min-width: 40em) {
		& {
			background-image: url('/home/images/banner_home_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			& {
				background-image: url('/home/images/banner_home_large_2x.png');
			}
		}
	}
	@media screen and (min-width: 64em) {
		& {
			background-image: url('/home/images/banner_home_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			& {
				background-image: url('/home/images/banner_home_large_2x.png');
			}
		}

		video {
			width: 100%;
			display: none;
		}
	}
}
main {
	padding-top: 0;
}

aside.promo-tiles {
	section {
		max-width: 1920px;
		margin: 0 auto;
		padding: 0 0px;
		margin-top: -100px;

		.promo-tile {
			padding: 0px;
		    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
		    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);
		    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.6);

			@media screen and (min-width: 40em) {
				padding: 0px 5px;
			}

			a {
				border-radius: $global-radius;
				height: 256px;
				background-size: 670px 256px;
				background-position: center top;
				background-repeat: no-repeat;
				display: block;

				@media screen and (min-width: 64em) {
					background-size: 474px 256px;
				}

				.alt {
					position: absolute;
					clip: rect(1px 1px 1px 1px);
					clip: rect(1px, 1px, 1px, 1px);
					-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
					clip-path: inset(0px 0px 99.9% 99.9%);
					overflow: hidden;
					height: 1px;
					width: 1px;
					padding: 0;
					border: 0;
				}
			}
		}
	}

	.promo-1 a {
		background-image: url('/home/images/promo_recruiting_small.png');
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

		.promo-1 a {
			background-image: url('/home/images/promo_recruiting_small_2x.png');
		}
	}
	@media screen and (min-width: 64em) {
		.promo-1 a {
			background-image: url('/home/images/promo_recruiting_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			.promo-1 a {
				background-image: url('/home/images/promo_recruiting_large_2x.png');
			}
		}
	}



	.promo-2 a {
		background-image: url('/home/images/promo_youtube_small.png');
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

		.promo-2 a {
			background-image: url('/home/images/promo_youtube_small_2x.png');
		}

	}
	@media screen and (min-width: 64em) {
		.promo-2 a {
			background-image: url('/home/images/promo_youtube_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			.promo-2 a {
				background-image: url('/home/images/promo_youtube_large_2x.png');
			}
		}
	}



	.promo-3 a {
		background-image: url('/home/images/promo_aam_small.png');
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

		.promo-3 a {
			background-image: url('/home/images/promo_aam_small_2x.png');
		}

	}
	@media screen and (min-width: 64em) {
		.promo-3 a {
			background-image: url('/home/images/promo_aam_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			.promo-3 a {
				background-image: url('/home/images/promo_aam_large_2x.png');
			}
		}
	}



	.promo-4 a {
		background-image: url('/home/images/promo_who_small.png');
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

		.promo-4 a {
			background-image: url('/home/images/promo_who_small_2x.png');
		}
	}
	@media screen and (min-width: 64em) {
		.promo-4 a {
			background-image: url('/home/images/promo_who_large.png');
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx) {

			.promo-4 a {
				background-image: url('/home/images/promo_who_large_2x.png');
			}
		}
	}
}

aside.promo-tiles:before, aside.promo-tiles:after {
	content: ' ';
    display: table;
}
aside.promo-tiles:after {
	clear: both;
}
