@import "../../aaf-global/styles/_settings";

html, body {
    max-height: 100vh;
}

main {
    padding-top: 40px;

    @include breakpoint(medium up) {
        padding-top: 0;
    }

    h3 {
        margin-top: -10px;
    }
    h3, h4 {
        font-family: 'Exo';
        font-weight: 300;
    }
    h4 {
        color: #576d80;
        margin-top: 40px;
    }
    a > h3 {
        color: #FFF;
        &:hover {
            color: #CCC;
        }
    }
}
.js-reframe {
    position: relative;
    width: 100%;

    iframe {
        min-height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border: none;
    }
}
