main {
  padding-top: 150px; }

h3 {
  margin-top: -10px; }

h4, h3 {
  font-family: 'Exo';
  font-weight: 300; }

h4 {
  color: #576d80;
  margin-top: 40px; }

a > h3 {
  color: #FFF; }

a > h3:hover {
  color: #CCC; }

.icon.twitter {
  margin-right: 30px; }
